:root {
    --color-black: rgba(25, 25, 25, 1);
    --color-white: rgba(255, 255, 255, 1);

    --color-grey-100: rgba(245, 245, 245, 1);
    --color-grey-300: rgba(205, 205, 205, 1);
    --color-grey-500: rgba(75, 75, 75, 1);
    --color-grey-900: rgba(25, 25, 25, 1);
}