.has-text-left {
    text-align: left !important;
}

.has-text-right {
    text-align: right !important;
}

.has-text-horizontal-center {
    text-align: center !important;
}

.has-text-justified {
    text-align: justify !important;
}

.has-text-top {
    vertical-align: top !important;
}

.has-text-bottom {
    vertical-align: bottom !important;
}

.has-text-vertical-center {
    vertical-align: middle !important;
}

.has-text-center {
    text-align: center !important;
    vertical-align: middle !important;
}